body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Roboto, sans-serif; /*название шрифта*/
    font-size: 16px; /*размер шрифта*/
    line-height: 24px; /*межстрачный интервал*/
    font-weight: 400; /*400-normal, 700-bold*/
    color: #283136; /*цвет текста*/

    background-color: #ffffff; /*цвет фона*/
}

html,
body {
    min-width: 1440px;
    min-height: 1925px;
}

a {
    text-decoration: none; /*убираем подчерк. у ссылок*/
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main {
    background-color: #eeeeee;
}

.main__header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.logo {
    margin-left: 20px;
}

.main__navigation {
    padding-top: 0;
    /*margin-left: 200px;*/
    border: 1px solid black;
    
}

.site__navigation {
    list-style: none; /*Отменяет маркеры для списка.*/
    padding-left: 0;
    width: 440px;
}

.site__navigation li {
    display: inline; /*элементы списка строчне*/
    /*padding-right: 48px;*/
    list-style-type: none; /*стиль маркера*/
    
}

.basket {
    /*margin-top: 10px;*/
    margin-right: 20px;
}

/*.basket>img:nth-child(1) {
    padding-right: 20px;
}*/

.main__navigation,
.basket {
    line-height: 30px; /*межстрочный интервал*/
    font-weight: 700; /*400-normal, 700-bold*/   
}

.main__navigation,
.basket {
    text-transform: uppercase; /*все прописные*/
}

.main__navigation a,
.main__title,
.basket {
    color: #000000;;
}    
.main__navigation a:hover,
.basket:hover {
    color: #fb565a;
}

.main__navigation a:focus,
.basket:focus {
    color: #afafaf;
}

.main__navigation a:active, 
.basket:active {
    color: #000000;
    text-decoration: underline; /*подчеркнутый текст*/
}